<%- include ("header.ejs") %>

<!-- Main Content -->
<div class="container mt-4">
    <!-- Forum Threads -->
    <h2>Discussion Threads</h2>
    <div class="list-group">
        <% for (let i = 0; i < thread.length; i++) { %>
            <a href=<%= "/thread/" + i %> class="list-group-item list-group-item-action"><%= thread[i].title %></a>
        <% } %>
        
        <!-- More threads here -->
    </div>

    <!-- New Thread Form -->
    <div class="mt-4">
        <h4>Start a New Discussion</h4>
        <form action="/newThread" method="post">
            <div class="mb-3">
                <label for="threadTitle" class="form-label">Title</label>
                <input type="text" class="form-control" id="threadTitle" name="title" placeholder="Title of your thread">
            </div>
            <div class="mb-3">
                <label for="threadTitle" class="form-label">Auther</label>
                <input type="text" class="form-control" id="threadTitle" name="author" placeholder="Your user name">
            </div>
            <div class="mb-3">
                <label for="threadMessage" class="form-label">Message</label>
                <textarea class="form-control" id="threadMessage" name="originalPost" rows="3"></textarea>
            </div>
            <div class="mb-3" style="display: none;">
                <label for="dateInput" class="form-label">Date</label>
                <input type="date" class="form-control" value="<%= date %>" id="dateInput" name="datePosted">
            </div>
            <div class="mb-3" style="display: none;">
                <label for="dateInput" class="form-label">Comments</label>
                <input type="text" class="form-control" value="<%= comment_s %>" id="array" name="comments">
            </div>
            <button type="submit" class="btn btn-primary">Post Thread</button>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<%- include ("footer.ejs") %>